

body{
    margin: 0;
    padding: 0;
}

/* nav */

.logo{
    width: 10rem;
}

/* En tête */

header{
    background-image: url(images/header-bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 35rem;
    text-align: center;
    display: flex;
    align-items: center;
}
.text{
    font-style: italic;
    font-size: 2rem;
}
.text2{
    font-size: 4rem;
    font-weight: 700;
}

/* SERVICES */

.jaune{
    width: 6rem;
    height: 6rem;
    background-color: orange;
    border-radius: 50%;
    margin: auto;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bi{
    color: white;
    font-size: 80px;
}

/* ABOUT */

.li{
    display: flex;
    z-index: 1 ;
}
.li2{
    display: flex;
    z-index: 1;
}
.cercle{
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    padding: 3px;
    background-color: gray;
    margin: 0;
}
.barre{
    width: 1pt;
    height: 20rem;
    background-color: black;
    position: absolute;
    left: 32.3rem;
    display: flex;
    z-index: 0;
}

.tex{
    margin: 0;
}
.barres{
    margin-left: 100px;
    margin-right: 1px;
}
.center{
  display: flex;
  align-items: center ; 
  flex-direction: column;
  position: relative;
  gap: 100px;
  margin-top: 100px;
}

/* amazing */

.personne{
    border-radius: 50%;
    padding: 6px;
    background-color: rgb(210, 210, 210);
    width: 15rem;
}
.ne{
    color: black;
    font-size: 2rem;
}

/* logo */

.logo{
    width: 9rem;
    height: 2rem;
    
}

/* contact */

#contact{
    background-image: url(images/map-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
    padding: 5rem;
}
/*  */
/* position */
.ddiiv{
    left: 27%;
}
.Imagge{
    width: 7rem;
    left: 50%;
    padding: 3px;
    background: gray;
}
.ddiivv{
    right: 4%;
}
.baree{
    width: 1px;
    height: 85rem;
    background-color: black;
    left: 50%;
    position: absolute;
}


@media screen and (max-width:1000px) {
   
    .ddiiv {
        font-size: 10px;
        left: 70%;
        width: 12rem;
      
    }
    .ddiivv{
        font-size: 10px;
        left: 70%;
        width: 12rem;
    }
    .ddiiv h3{
        font-size: 13px;
    }
    .Imagge{
        left: 10%;
    }
    .baree{
        left: 10%;
    }

}


















































































































































































































































































































































































































































































































































































































































































































































































































































































































































































*{
    border: 1px solid rgb(1, 1, 1 ,0.0);
   
  
}